@page "/Account/AccessDenied"
@layout AccountLayout
@attribute [AllowAnonymous]

<PageTitle>Access denied</PageTitle>

<header class="text-center">
    <h1 class="text-danger mb-4">Access denied</h1>
    <div class="alert alert-danger">
        You do not have access to this resource.
    </div>
    <div class="mt-4">
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</header>
